*{
     padding: 0px;
     margin: 0 auto;
     	font-size: 12px;
 }
main .right_top {
    height: 40px;
    width: 500px;
    float:left;
    margin-left:20px;
}
main .right_top ul {
    list-style: none;
}
main .right_top li {
    float: left;
}
main .right_top span{
    font-weight: bold;
    font-size: 12px;
}
main .line {
	clear:left;
    width: 750px;
    height: 2px;
    background-color: darkorange;
}
main .right_middle {
    height: 170px;
    width: 700px;
    float: right;
}
main .right_middle table {
    line-height: 30px;
    width: 600px;
}
main .GG{
    width: 400px;
}
main .text {
    float: right;
}
main .textNR {
    width: 400px;
    height: 100px;
    resize: none;
}
main .right_bottom {
    text-align: center;
    width: 100px;
    height: 20px;
}
footer{
    width: 980px;
    height: 300px;;
}
footer .footer_top{
    width: 980px;
    height: 100px;
    text-align: center;
    border: 1px solid red;
}

footer .footer_top ul {
    list-style: none;
    margin-left: 160px;
}
footer .footer_top li {
    list-style:  none;
    float: left;
    font-size: 12px;
}
footer .footer_top a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    text-align: center;
}
footer .middle {
    margin-top: -70px;
    text-align: center;
}
footer .line2 {
    background-color: #cccccc;
    width: 800px;
    height: 2px;
    margin-top: -50px;
}
footer .middle ul {
    list-style: none;
    margin-top: 20px;
}
footer .middle ul li{
    letter-spacing: 2px;
    font-size: 12px;
}
footer .footer_bottom{
    width: 980px;
    height: 80px;
    margin-top: 10px;
    text-align: center;
}
