*{
    padding: 0px;
    margin: 0 auto;
}
header{
    width: 980px;
    height: 140px;
}
header .pic{
    width:980px;
    height: 93px;
    background: url("../images/logo.png") no-repeat;
    float: left;
}
header .pic ul {
    list-style: none;
    margin-top: 65px;
    margin-left: 231px;
    padding-left: 20px;
}
header .pic li {
    float: left;
    margin-left: 20px;
}
header .pic li a{
    text-decoration: none;
    color: #327232;
    font-weight: bold;
}
header .pic .index {
    background: url("../images/background3.PNG") no-repeat;
    width: 93px;
    height: 33px;
    text-align: center;
    margin-top: -5px;
    padding-top: 6px;
}
header .pic .yonghu {
    background: url("../images/background3.PNG") no-repeat;
    width: 93px;
    height: 33px;
    text-align: center;
    margin-top: -5px;
    padding-top: 6px;
}
header .pic .shopping {
    background: url("../images/background3.PNG") no-repeat;
    width: 93px;
    height: 33px;
    text-align: center;
    margin-top: -5px;
    padding-top: 6px;
}
header .pic .dingdan {
    background: url("../images/background3.PNG") no-repeat;
    width: 93px;
    height: 33px;
    text-align: center;
    margin-top: -5px;
    padding-top: 6px;
}
header .pic .shopX {
    background: url("../images/background3.PNG") no-repeat;
    width: 93px;
    height: 33px;
    text-align: center;
    margin-top: -5px;
    padding-top: 6px;
}
header .pic .gonggao {
    background: url("../images/background3.PNG") no-repeat;
    width: 93px;
    height: 33px;
    text-align: center;
    margin-top: -5px;
    padding-top: 6px;
}
header .TiShi {
    width:980px;
    height: 20px;
    background-color:#FC883B;
    float: left;
    font-size: 12px;
    text-align: right;
    padding-top: 5px;
    color: white;
}
header .address{
    width:980px;
    height: 30px;
    float: left;
    font-size: 12px;
    margin-top: 10px;
}
header .address a {
    color: #FF0080;
    font-size: 12px;
    text-decoration: none;
}
main{
    width: 980px;
    height: 350px;
}
main .top {
    width: 780px;
    height: 30px;
}
main .top ul {
    list-style: none;
    padding-top: 20px;
}
main .top li {
    float: left;
}
main .top span {
    float: left;
    font-size: 12px;
    font-weight: bold;
}
main .line {
    margin-top: 10px;
    width: 800px;
    background-color: darkorange;
    height: 2px;

}
main .bottom .top {
    width: 500px;
    height: 80px;
    font-size: 28px;
    margin-top: 50px;
    text-align: center;
}
main .bottom .middle {
    width: 500px;
    height: 90px;
    line-height: 25px;
    margin-top:-30px ;
}
main . tr {
    margin-top: 10px;
}
main .bottom .bottom {
    width: 500px;
    height: 60px;
}
main .bottom .bottom img {
    text-align: center;
    margin-left: 225px;
    margin-top: 60px;
}
footer{
    width: 980px;
    height: 300px;;
}
footer .footer_top{
    width: 980px;
    height: 100px;
}

footer .footer_top ul {
    list-style: none;
    margin-left: 160px;
}
footer .footer_top li {
    list-style:  none;
    float: left;
    font-size: 12px;
}
footer .footer_top a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    text-align: center;
}
footer .middle {
    margin-top: -70px;
    text-align: center;
}
footer .line2 {
    background-color: #cccccc;
    width: 800px;
    height: 2px;
    margin-top: -50px;
}
footer .middle ul {
    list-style: none;
    margin-top: 20px;
}
footer .middle ul li{
    letter-spacing: 2px;
    font-size: 12px;
}
footer .footer_bottom{
    width: 980px;
    height: 80px;
    margin-top: 10px;
    text-align: center;
}
