<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521/lcitdb</property>
        <property name="hibernate.connection.username">c##guimei</property>
        <property name="hibernate.default_schema">C##GUIMEI</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <!-- 正向工程 -->
   <!--      <property name="hibernate.hbm2ddl.auto">update</property> -->
		<mapping resource="pojo/Tannouncement.hbm.xml" />
		<mapping resource="pojo/Tcart.hbm.xml" />
		<mapping resource="pojo/Tcategory.hbm.xml" />
		<mapping resource="pojo/Tcategorysecond.hbm.xml" />
		<mapping resource="pojo/Tcustomer.hbm.xml" />
		<mapping resource="pojo/Tgoods.hbm.xml" />
		<mapping resource="pojo/Tgoodsdiscount.hbm.xml" />
		<mapping resource="pojo/Tgoodspic.hbm.xml" />
		<mapping resource="pojo/Torder.hbm.xml" />
		<mapping resource="pojo/Torderdetail.hbm.xml" />
		<mapping resource="pojo/Tsyslog.hbm.xml" />
		<mapping resource="pojo/Tuser.hbm.xml" />
    </session-factory>
</hibernate-configuration>
